In [31]:
import pandas as pd
from datetime import datetime

In [32]:
df_labor_eqp_rep = pd.read_excel(r"C:\Users\divyal\Desktop\projects\NOVA Equip Py\Non-TS EQP\Non-TS data.xlsx", engine='openpyxl', dtype=str)
df_nova_equip = pd.read_excel(r"C:\Users\divyal\Desktop\projects\NOVA Equip Py\Supporting Docs\nova_eqp_new_list.xlsx", engine='openpyxl', sheet_name='Sheet1', dtype=str)
df_d_u_map = pd.read_excel(r"C:\Users\divyal\Desktop\projects\NOVA Equip Py\Supporting Docs\D_U_Mapping.xlsx", engine='openpyxl') 
# df_cji3 = pd.read_excel(r"C:\Users\divyal\Desktop\projects\NOVA Equip Py\CJI3_E20189_01.01.2021_to_31.01.2021.xlsx", engine='openpyxl', sheet_name='ZETM_EQUI', usecols='A,')

In [33]:
df_labor_eqp_rep["Row Labels"] = df_labor_eqp_rep["Row Labels"].astype('str')

In [34]:
df_nova_equip

   Characteristic Value Equipment                     Object Description
0            B020002002  10020504          03730 - 1/2 TON '19 CHEV 1500
1            B020002003  20002157   0500326 - 3/4 TON '12 CHEVY 2500 4X4
2            A200007001  10021218                374003 - SCAFFOLD WAGON
3            A240024011  10021219          38782 - CONTAINER-SEA 8'X 20'
4            B020002002  20002229   03817 - 1/2 TON '12 FORD F150 CC XLT
..                  ...       ...                                    ...
60           A040007002  10014640        1116002 - 100 SERIES HYD TAMPER
61           A040005010  10020118  497081 - GRAPPLE SKIDSTEER ATTACHMENT
62           A040005001  10000399        117003 - SWEEPER-PICK UP BOBCAT
63           B020002003  20001438            0500258 - '13 CHEV K2500 CC
64           A240018021  10022404   2980264 - MOWER-BRUSHCUTTER SSRC 70"

[65 rows x 3 columns]

In [35]:
df_nova_equip["Object Description"] = df_nova_equip["Object Description"]

In [36]:
df_with_dates = df_labor_eqp_rep.merge(df_nova_equip, how='left', left_on='Row Labels', right_on='Object Description')

In [37]:
df_with_dates

,Row Labels,Date,Working,Standby,ZZUDF1,ZZUDF4,ZZUDF5,Characteristic Value,Equipment,Object Description
0,03578 - 1/2 TON '11 CHEV K1500 CC,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6830676,0090,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC
1,03578 - 1/2 TON '11 CHEV K1500 CC,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6863513,0020,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC
2,0500155 - '12 CHEV K2500,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6830676,0090,B020002003,20000470,0500155 - '12 CHEV K2500
3,0500155 - '12 CHEV K2500,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6863513,0020,B020002003,20000470,0500155 - '12 CHEV K2500
4,0520152 - 1 TON '15 FORD F350 CC CHASSIS,2021-10-04 00:00:00,10,NaN,23-CV20211004-1,6819656,0100,B020002004,20002167,0520152 - 1 TON '15 FORD F350 CC CHASSIS
...,...,...,...,...,...,...,...,...,...,...
74,4013015 - GRADER JD 770G '13,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6861024,0070,A020007002,10022087,4013015 - GRADER JD 770G '13
75,4013015 - GRADER JD 770G '13,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6858082,0080,A020007002,10022087,4013015 - GRADER JD 770G '13
76,05872 - DUMP TRUCK TANDEM 7400 INTERN.,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6861024,0070,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.
77,05872 - DUMP TRUCK TANDEM 7400 INTERN.,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6858082,0080,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.
78,0559019 - TRUCK WATER-3500 GAL,2021-10-07 00:00:00,10,NaN,23-CV20211007-01,6819650,0400,A160003003,10003980,0559019 - TRUCK WATER-3500 GAL

In [38]:
df_with_dates = df_with_dates.merge(df_d_u_map, how='left', on='Characteristic Value')

df_with_dates

,Row Labels,Date,Working,Standby,ZZUDF1,ZZUDF4,ZZUDF5,Characteristic Value,Equipment,Object Description,ZINDICATOR
0,03578 - 1/2 TON '11 CHEV K1500 CC,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6830676,0090,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC,U
1,03578 - 1/2 TON '11 CHEV K1500 CC,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6863513,0020,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC,U
2,0500155 - '12 CHEV K2500,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6830676,0090,B020002003,20000470,0500155 - '12 CHEV K2500,U
3,0500155 - '12 CHEV K2500,2021-10-04 00:00:00,5,NaN,23-CV20211004-1,6863513,0020,B020002003,20000470,0500155 - '12 CHEV K2500,U
4,0520152 - 1 TON '15 FORD F350 CC CHASSIS,2021-10-04 00:00:00,10,NaN,23-CV20211004-1,6819656,0100,B020002004,20002167,0520152 - 1 TON '15 FORD F350 CC CHASSIS,U
...,...,...,...,...,...,...,...,...,...,...,...
74,4013015 - GRADER JD 770G '13,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6861024,0070,A020007002,10022087,4013015 - GRADER JD 770G '13,U
75,4013015 - GRADER JD 770G '13,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6858082,0080,A020007002,10022087,4013015 - GRADER JD 770G '13,U
76,05872 - DUMP TRUCK TANDEM 7400 INTERN.,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6861024,0070,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.,U
77,05872 - DUMP TRUCK TANDEM 7400 INTERN.,2021-10-07 00:00:00,5,NaN,23-CV20211007-01,6858082,0080,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.,U
78,0559019 - TRUCK WATER-3500 GAL,2021-10-07 00:00:00,10,NaN,23-CV20211007-01,6819650,0400,A160003003,10003980,0559019 - TRUCK WATER-3500 GAL,U

In [39]:
def d_col(row):
    date_str = row["Date"]
    try:
        date_object = datetime.strptime(date_str, '%A %B %d,%Y')
        new_date_format = datetime.strftime(date_object, '%d.%m.%Y')
    except:
        # try:
        date_object = datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S')
        new_date_format = datetime.strftime(date_object, '%d.%m.%Y')
        # except:
            # date_object = datetime.strptime(date_str, '%Y%m%d')
            # new_date_format = datetime.strftime(date_object, '%d.%m.%Y')
    
    row["Date"] = new_date_format

    return row["Date"]

In [40]:
df_with_dates['Date'] = df_with_dates.apply(lambda row: d_col (row), axis=1)

In [41]:
df_with_dates

,Row Labels,Date,Working,Standby,ZZUDF1,ZZUDF4,ZZUDF5,Characteristic Value,Equipment,Object Description,ZINDICATOR
0,03578 - 1/2 TON '11 CHEV K1500 CC,04.10.2021,5,NaN,23-CV20211004-1,6830676,0090,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC,U
1,03578 - 1/2 TON '11 CHEV K1500 CC,04.10.2021,5,NaN,23-CV20211004-1,6863513,0020,B020002002,20000236,03578 - 1/2 TON '11 CHEV K1500 CC,U
2,0500155 - '12 CHEV K2500,04.10.2021,5,NaN,23-CV20211004-1,6830676,0090,B020002003,20000470,0500155 - '12 CHEV K2500,U
3,0500155 - '12 CHEV K2500,04.10.2021,5,NaN,23-CV20211004-1,6863513,0020,B020002003,20000470,0500155 - '12 CHEV K2500,U
4,0520152 - 1 TON '15 FORD F350 CC CHASSIS,04.10.2021,10,NaN,23-CV20211004-1,6819656,0100,B020002004,20002167,0520152 - 1 TON '15 FORD F350 CC CHASSIS,U
...,...,...,...,...,...,...,...,...,...,...,...
74,4013015 - GRADER JD 770G '13,07.10.2021,5,NaN,23-CV20211007-01,6861024,0070,A020007002,10022087,4013015 - GRADER JD 770G '13,U
75,4013015 - GRADER JD 770G '13,07.10.2021,5,NaN,23-CV20211007-01,6858082,0080,A020007002,10022087,4013015 - GRADER JD 770G '13,U
76,05872 - DUMP TRUCK TANDEM 7400 INTERN.,07.10.2021,5,NaN,23-CV20211007-01,6861024,0070,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.,U
77,05872 - DUMP TRUCK TANDEM 7400 INTERN.,07.10.2021,5,NaN,23-CV20211007-01,6858082,0080,A160006001,10022086,05872 - DUMP TRUCK TANDEM 7400 INTERN.,U
78,0559019 - TRUCK WATER-3500 GAL,07.10.2021,10,NaN,23-CV20211007-01,6819650,0400,A160003003,10003980,0559019 - TRUCK WATER-3500 GAL,U

In [42]:
df_final = pd.DataFrame(columns=["EQUNR",	"WBS_ELEMENT",	"AUFNR",	"BELDAT",	"ZINDICATOR",	"CORRECTION",	"COUNTER",	"WORKING_HR",	"STANDBY_HR",	"IDLE_HR",	"REPAIR_HR",	"NONBILL_HR",	"DISTANCE",	"ZZUDF1",	"ZZUDF2",	"ZZUDF3",	"ZZUDF4",	"ZZUDF5"])

In [43]:
df_final['EQUNR'] = df_with_dates['Equipment'].copy()
df_final['WBS_ELEMENT'] = "E20189___A00100100000"
df_final['AUFNR'] = "173000"
df_final['BELDAT'] = df_with_dates['Date'].copy()
df_final['ZINDICATOR'] = df_with_dates['ZINDICATOR'].copy()
df_final['WORKING_HR'] = df_with_dates['Working'].copy()
df_final['STANDBY_HR'] = df_with_dates['Standby'].copy()
df_final['ZZUDF4']= df_with_dates['ZZUDF4']
df_final['ZZUDF1']= df_with_dates['ZZUDF1']
df_final['ZZUDF5']= df_with_dates['ZZUDF5']
df_final['ZZUDF2']= "4501079711"
df_final['ZZUDF3']= "1"

In [44]:
df_final

,EQUNR,WBS_ELEMENT,AUFNR,BELDAT,ZINDICATOR,CORRECTION,COUNTER,WORKING_HR,STANDBY_HR,IDLE_HR,REPAIR_HR,NONBILL_HR,DISTANCE,ZZUDF1,ZZUDF2,ZZUDF3,ZZUDF4,ZZUDF5
0,20000236,E20189___A00100100000,173000,04.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211004-1,4501079711,1,6830676,0090
1,20000236,E20189___A00100100000,173000,04.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211004-1,4501079711,1,6863513,0020
2,20000470,E20189___A00100100000,173000,04.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211004-1,4501079711,1,6830676,0090
3,20000470,E20189___A00100100000,173000,04.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211004-1,4501079711,1,6863513,0020
4,20002167,E20189___A00100100000,173000,04.10.2021,U,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,23-CV20211004-1,4501079711,1,6819656,0100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,10022087,E20189___A00100100000,173000,07.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211007-01,4501079711,1,6861024,0070
75,10022087,E20189___A00100100000,173000,07.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211007-01,4501079711,1,6858082,0080
76,10022086,E20189___A00100100000,173000,07.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211007-01,4501079711,1,6861024,0070
77,10022086,E20189___A00100100000,173000,07.10.2021,U,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,23-CV20211007-01,4501079711,1,6858082,0080
78,10003980,E20189___A00100100000,173000,07.10.2021,U,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,23-CV20211007-01,4501079711,1,6819650,0400

In [45]:
df_final.to_csv('NON-TS EQP.csv', index=False)